*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000000;
}

.container{
	position: relative;
	width: 350px;
	height: 400px;
	background: #404040;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 2px 10px rgb(103 103 103 / 35%);
	border-radius: 20px;
	padding: 20px;
}
.container h3{
	position: relative;
	margin-bottom: 40px;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #2d98d2;
	letter-spacing: 2px;
}

.container .inputBox {
    position: relative;
    margin-bottom: 30px;
    width: 270px;
    letter-spacing: 1px;
    border: 1px solid #2d98d2;
    border-radius: 4px;
}

.container .inputBox input {
	width: 100%;
	height: 40px;
	background: none;
    outline: none;
    border: none;
    padding: 10px;
    color: #2d98d2;
    font-size: 16px;
    font-weight: 300;
}

.container input[type="submit"] {
    width: 80px;
    border: none;
    background: #2d98d2;
    color: #fff;
    padding: 8px 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    outline: none;
}

.container input[type="submit"]:focus {
    background: #fff;
    color: #2d98d2;
}
.container .inputBox span {
    position: absolute;
    left: 0;
    font-size: 14px;
    font-weight: 300;
    transition: all 0.2s;
    display: inline-block;
    line-height: 40px;
    letter-spacing: 1px;
    color: #2d98d2;
    pointer-events: none;
    padding-left: 10px;
}
.container .inputBox input:focus ~ span,
.container .inputBox input:valid ~ span{
    transform: translateY(-30px);
    font-size: 12px;
    color: #fff;
}